<h1>BIG3 CALENDAR</h1>
<% if logged_in? %>
  <%= month_calendar events: @results do |date, results| %>
    <%= date %>
  
    <% results.each do |result| %>
      <div>
        bench_press
        <%= result.bench_press %><br/>
        deadlift
        <%= result.deadlift %><br/>
        squat
        <%= result.squat %><br/>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="center janbotron">
    <h1>Welcom to the Big3 Calendar</h1>
    <h2>
      Big3 カレンダーのホームページです。登録して、筋トレの記録を残しましょう。
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

